:root {
	--font-size-primary: 0.906rem; /* 14.5px */
	--font-size-secondary: 0.688rem; /* 11px */

	--foreground: rgba(0, 0, 0, 0.75);

	--border-color: rgba(0, 0, 0, 0.55);
	--border-shorthand: 0.063rem solid var(--border-color);

	/* Button */
	--button-hover-foreground: rgba(255, 255, 255, 0.9);
	--button-hover-backround: rgba(0, 0, 0, 0.78);
	--font-size-button: 0.769rem; /* 12.3px */

	--seven: 0.438rem; /* 7px */
	--twelve: 0.75rem; /* 12px */
}

*, *::before, *::after {
	color: var(--foreground);
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	font-size: var(--font-size-primary);
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.container__ {
	max-width: 37.5rem;
	margin-inline: auto;
	padding: 0 calc(var(--twelve) * 2);
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-block-end: var(--border-shorthand);
	margin-block-end: 1.75rem;
}

header a {
	padding-block-end: 0.0625rem;
	text-decoration: none;
}

.__header-nav ul {
	display: flex;
	gap: 1.125rem;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.current-page__ {
	border-block-end: var(--border-shorthand);
}

/* Footer */

footer {
	color: white;
	background: var(--foreground);
	padding: 1em calc(var(--twelve) * 2);
	margin-block-start: 2.5rem;
	text-align: center;

	position: sticky;
	inset-block-start: 100%;
}

.__footer-copyright {
	color: inherit;
}

/* Notice / Link */

#notice {
	margin-top: 0.656rem;
	padding: 0 var(--seven);
	font-size: var(--font-size-secondary);
	text-align: center;
	line-height: 1.1;
	word-wrap: break-word;
}

/* Media Query */

@media (hover: hover) {
	.__header-nav ul li a:hover {
		border-block-end: var(--border-shorthand);
	}
}

@media (max-width: 30rem) {
	/* Font Size */
	html {
		font-size: calc(1rem - 10%);
	}
	/* -------- */

	header {
		flex-direction: column;
	}

	.__header-title {
		margin-block-end: 0.67rem;
	}

	.__header-nav {
		margin-block-end: 1.5rem;
	}

	.__header-nav ul {
		gap: 2.25rem;
	}
}